@import "../node_modules/ui-styles/variables";
:host {
  background-color: @black;
  .flat;
  display: flex;
  box-sizing: border-box;
  .cannot-select-text;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
